
[pre-commit]
parallel = true

[pre-commit.commands.prettier]
run = "pnpm exec prettier --check --ignore-unknown {staged_files}"

[pre-commit.commands.biome]
run = "pnpm exec biome check --no-errors-on-unmatched {staged_files}"

[pre-commit.commands.cSpell]
run = "pnpm exec cspell lint --no-progress --no-must-find-files {staged_files}"
